html {
    min-height: 100%;
}

body {
    min-height: 100%;

    background: rgb(0, 0, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 16, 45, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 16, 45, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 16, 45, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 16, 45, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 16, 45, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 16, 45, 1) 100%); /* W3C */
    filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#140035', GradientType=0); /* IE6-9 */

}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    height: 100%;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    height: 100%;
}

#div-errors {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    max-width: 500px;
}

.fa-btn {
    margin-right: 6px;
}

.mapInfoText {
    color: #000;
}